.messagesContainer {
    flex: 1;
    overflow-y: auto;
    padding: 16px;
    margin-top: -32px;
  }
  
  .messagesList {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  