.card {
    background-color: #1a1a20;
    border-radius: 12px;
    flex-direction: column;
    align-items: stretch;
    width: 354px;
    min-width: 240px;
    padding: 16px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 64px 59px #49617214;
  }
  
  .cardHeader {
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    width: 100%;
    display: flex;
  }
  
  @media (width <= 991px) {
    .cardHeader {
      margin-right: 2px;
    }
  }
  
  .content {
    margin-top: 20px;
  }
  
  @media (width <= 991px) {
    .content {
      margin-right: 9px;
    }
  }
  
  .title {
    color: #fff;
    letter-spacing: -0.36px;
    font-family:
      Space Grotesk,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 18px;
    font-weight: 700;
  }
  
  .description {
    color: #a3a3b7;
    letter-spacing: -0.3px;
    margin-top: 8px;
    font-family:
      IBM Plex Sans,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
  }
  
  .timestamp {
    color: #4b4b58;
    letter-spacing: -0.38px;
    align-self: start;
    font-family:
      Inter,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
  }
  
  .link {
    color: inherit;
    text-decoration: underline;
  }
  